<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Java_JSE/src/Exercicios/Ex10/PrincipalEleitoral.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Exercicios.Ex10.PrincipalEleitoral"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Java_JSE"/>
</launchConfiguration>
